@media screen and (max-width: 320px) {

    .navbar {
        padding: 1.5rem 0rem;
        border-bottom: 1px solid var(--yellow);
    }

    .header-main-section {
        width: 90%;
    }

    .logo-title {
        font-size: 1.4rem;
    }

    .hamburg-box {
        display: block;
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .menu-list,
    .nav-btn {
        display: none;
    }

    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-right-container {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .hero-left-container {
        width: 100%;
    }

    .right-box-title {
        font-size: 1.7rem;
    }

}

@media screen and (min-width: 321px) and (max-width: 520px) {
    .header-main-section {
        width: 90%;
    }

    .navbar {
        padding-top: 1rem;
    }

    .menu-list,
    .nav-btn {
        display: none;
    }

    .hamburg-box {
        display: block;
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-right-container {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .hero-left-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .right-box-title {
        font-size: 2rem;
    }

    .kids-banner {
        width: 80%;
    }

}


@media screen and (min-width: 521px) and (max-width: 767px) {
    .header-main-section {
        width: 90%;
    }

    .navbar {
        flex-direction: column;
        gap: 20px;
    }

    .menu-list {
        gap: 20px
    }

    .hero-section {
        flex-direction: column;
    }

    .hero-right-container {
        width: 100%;
        margin: 20px 0px 50px 0px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .hero-left-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .kids-banner {
        width: 80%;
    }

    .right-box-title {
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1020px) {

    .hero-section {
        justify-content: space-between;
    }

    .hero-right-container {
        width: 60%;
    }

    .hero-left-container {
        width: 40%;
    }

    .right-box-title {
        font-size: 2rem;

    }
}