* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    --black: #111111;
    --yellow: #FEA301;
    --blueLight: #01ACFD;
    --blueDark: #5D58F0;
    --grayD: #808080;
    --green: #95B226;
    --white: #ffffff;
}

.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
